/* carousel controls only hover on arrows themselves
.carousel-control-prev,
.carousel-control-next {
  font-size: 50px;
  cursor: default;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  cursor: default;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  cursor: default;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw;
  height: 2vw;
  opacity: .3;
  transition: all .3s ease-in-out;
  background-color: transparent;
  padding: 50px;
}

 .carousel-control-prev-icon:hover,
 .carousel-control-next-icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.21);
  opacity: .8;
 }


 container for music player and .qr-container
 .footer-content {

   box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

} */